.customnavbar{
    background-color: $navbarcolor;
}

.customdd{
    background-color: $navbarcolor;
 }
 
 footer{
    background-color: $navbarcolor;
    color: white;
    text-align: center;
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}
